.over_hidden {
  overflow-x: hidden !important;
  /* right: 80px; */
}

.extra_bg::before {
  content: "";
  position: absolute;
  /* top: 0;
  left: 0; */
  height: 150vh;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    #6605ba 0%,
    rgba(24, 0, 79, 0.53) 50.52%,
    rgba(93, 38, 224, 0) 100%
  );
  pointer-events: none;
  z-index: -100;
}

.bg_layer {
  position: absolute;
  /* bottom: -100px; */
  margin-top: 87px;
  left: 50%;
  width: 70vw;
  aspect-ratio: 5/1;
  background: linear-gradient(
    228.02deg,
    #3693ff 16.1%,
    rgba(82, 253, 195, 0.67) 80.73%
  );
  /* -webkit-filter: blur(200px); */
  filter: blur(200px);
  transform: translateX(-50%);
}
